{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Modif Chronique
{% endblock %}


{% block body %}
{{parent()}}
<div class="container-fluid">
	<div class="row justify-content-center">
		<h1 class="text-center text-primary p-4">Modification de la page chronique</h1>
	</div>
	<div class="row justify-content-center">
		<div class="col-8 bg-white p-4 m-0 text-dark">
			{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.texte, 'Le texte de la chronique', {'label_attr': {'class': 'font-weight-bold'}}) }}
				<small><span class="badge badge-info">{{ form_help(form.texte) }}</span></small>
				{{ form_widget(form.texte, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(form.date, 'La date de la chronique', {'label_attr': {'class': 'font-weight-bold'}}) }}
				<small><span class="badge badge-info">{{ form_help(form.date) }}</span></small>
				{{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group mx-auto text-center">
				{{ form_widget(form.send, { 'label': "Enregistrer", 'attr': {'class': 'btn font-weight-bold bg-primary text-white mx-auto text-center'}}) }}
			</div>
			{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
