{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}| Page administrateur
{% endblock %}

{% block body %}
<br>
	<h3 class="card-title text-center">Page administrateur</h3>
	<div class="container-fluid">
		<div class="list-group">
			{% if is_granted('ROLE_ADMIN') %}
  			<a href="{{ path('inscrire')}}" class="list-group-item list-group-item-action list-group-item-info">Inscrire un nouvel utilisateur</a>
			{% endif %}
  			<a href="{{ path('listeGenres')}}" class="list-group-item list-group-item-action">Liste des Genres</a>
  			<a href="{{ path('ajoutGenre')}}" class="list-group-item list-group-item-action">Ajouter un Genre</a>
  			<a href="{{ path('ajoutAuteur')}}" class="list-group-item list-group-item-action">Ajouter un Auteur</a>
  			<a href="{{ path('ajoutOeuvre')}}" class="list-group-item list-group-item-action">Ajouter une Oeuvre</a>
  			<a href="{{ path('listeChroniques')}}" class="list-group-item list-group-item-action">Liste des chroniques</a>
  			<a href="{{ path('ajoutChronique')}}" class="list-group-item list-group-item-action">Ajouter une chronique</a>
		</div>
	</div>
{% endblock %}
