{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| {{oeuvre.titre|capitalize}}
{% endblock %}

{% block body %}
	{{parent()}}
	<div class="container-fluid">
		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-sm-2">
					<br>
					<div id="tutorialsplaneModal" class="modal fade" role='dialog'>
    					<div class="modal-dialog modal-lg">
        					<div class="modal-content">
            					<div class="modal-header">
                					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            					</div>
            				<div class="modal-body">
                         		<img src="../{{vich_uploader_asset(oeuvre) }}" style="width:100%;height:100%;">       
            				</div>
            				<div class="modal-footer">
                				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            				</div>
        				</div>
      				</div>
  				</div>
  			<a href="javascript:void(0);" class="" data-toggle="modal" data-target="#tutorialsplaneModal">
  				<img src="../{{vich_uploader_asset(oeuvre) }}" class="card-img" alt="..."> <br>  
			</a>
					<br>
					{% if oeuvre.statut == true and oeuvre.codePP is not null %}
					<form class="pr-3" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<div class="form-group">
							<input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="{{oeuvre.codePP}}"> <input type="image" style="display: block; margin: 0 auto;" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne"> <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
  						</div>
					</form>
					{% endif %}
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title text-center">{{oeuvre.titre|capitalize}}</h3>
								<p class="card-text">
									Par 
									{% set adder = "" %}
									{% set cpt = 0 %}
									{% for aut in oeuvre.auteurs %}
										<a class="lien" href="{{path('auteur',{'id':aut.id})}}">{{aut.prenom|capitalize}} {{aut.nom|upper}}</a>
									
										{% if oeuvre.auteurs|length == 1 %}
										{% elseif oeuvre.auteurs|length == 2 %}
											{% set adder = " & " %}
										{% else %}
											{% set adder = ", " %}
										{% endif %}
										{% if cpt < oeuvre.auteurs|length - 1 %}
											{{adder}}
										{% endif %}
										{% set cpt = cpt + 1 %}
									{% endfor %}
								</p>
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
									<a href="{{path('modifOeuvre',{'id':oeuvre.id})}}">
										<span class="material-icons text-dark" title="Modifier l'oeuvre dans la base de données">create</span>
									</a>
								{% endif %}	
						<p class="card-text">Genre : {{oeuvre.genre.libelle}}</p>
						<p class="card-text">Disponibilité : {{oeuvre.noteStatut}}</p>
						<p class="card-text">Dimensions : {{oeuvre.dimensions}}</p>
						<p class="card-text">ISBN : {{oeuvre.isbn}}</p>
						<p class="card-text">Longueur : {{oeuvre.nbPages}} pages</p>
						<p class="card-text">Publié le
							{{oeuvre.datePublication|date('d-m-Y')}}</p>
						<p class="card-text">Note particulière : {{oeuvre.note}}</p>
						<h4 class="card-text text-info">{{oeuvre.prix|format_currency('EUR',{rounding_mode: 'floor'})}}</h4>
						<p class="card-subtitle text-center">Description<p>
						<p class="card-text">{{oeuvre.description|raw}}</p>

						{% if oeuvre.extrait is not null %}
							<br>
							<p class="card-subtitle text-center">Extrait<p>
							<p class="card-text">{{oeuvre.extrait|raw}}</p>
						{% endif %}

						{% for aut in oeuvre.auteurs %}
							<p class="card-subtitle text-center"><a class="lien" href="{{path('auteur',{'id':aut.id})}}">{{aut.prenom|capitalize}} {{aut.nom|upper}}</a></p>
							<p class="card-text">{{aut.bioCourte|raw}}</p>	
							<br>
						{% endfor %}
							<br>
							<br>	
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<a href="{{path('listeOeuvres',{'supp':oeuvre.id})}}">
									<span class="material-icons text-dark" title="Supprimer l'oeuvre de la base de données">delete</span>
								</a>
							{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
