{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Page Auteur
{% endblock %}

{% block body %}
	{{parent()}}
	<div class="container-fluid">
		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-md-4">
					<br>
					<img src="../{{ vich_uploader_asset(auteur) }}" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title text-center">{{auteur.prenom|capitalize}}
							{{auteur.nom|upper}}</h3>
							
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<a href="{{path('modifAuteur',{'id':auteur.id})}}">
									<span class="material-icons text-dark" title="Modifier l'auteur dans la base de données">create</span>
								</a>
							{% endif %}
						<p class="card-text">Né(e) le
							{{auteur.dateNaissance|date('d-m-Y')}}</p>
						{% if auteur.dateDeces is not null %}
							<p class="card-text">Date de décès :
								{{auteur.dateDeces|date('d-m-Y')}}</p>
						{% endif %}
						{% if auteur.bioLongue is not null %}
							<p class="card-subtitle text-center">Biographie<p>
									<p class="card-text">{{auteur.bioLongue|raw}}</p>
								{% elseif auteur.bioCourte is not null %}
									<p class="card-subtitle text-center">Biographie<p>
											<p class="card-text">{{auteur.bioCourte|raw}}</p>
										{% else %}
											<p class="card-text-muted">Aucune biographie n'est disponible pour le moment.</p>
										{% endif %}

										<br>
										{% if auteur.oeuvres|length > 0 %}
											<p class="card-subtitle text-center">&#338;uvres<p>
											<ul class="nav nav-pills flex-column">
												{% for i in auteur.oeuvres %}
													<li class="nav-item">
														<a class="nav-link lien" href="{{path('oeuvre',{'id':i.id})}}">{{i.titre}}</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}

                                        {% if auteur.oeuvresExt is not null %}
							                <p class="card-subtitle text-center">Autres &#338;uvres<p>
									        <p class="card-text">{{auteur.oeuvresExt|raw}}</p>
										{% endif %}

                                        {% if auteur.liensWeb is not null %}
							                <p class="card-subtitle text-center">Liens<p>
									        <p class="card-text">{{auteur.liensWeb|raw}}</p>
                                        {% endif %}
										<br>
										<br>	
										{% if is_granted('IS_AUTHENTICATED_FULLY') %}
											<a href="{{path('listeAuteurs',{'supp':auteur.id})}}">
												<span class="material-icons text-dark" title="Supprimer l'auteur de la base de données">delete</span>
											</a>
										{% endif %}

									</div>
								</div>
							</div>
						</div>
					</div>
				{% endblock %}
