<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- Bootstrap CSS -->
		<link href='https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>
			{% block title %}Le temps qu'il fait
			{% endblock %}
		</title>
		{% block stylesheets %}
			<style>
				.site-footer {
					background-color: #26272b;
					padding: 45px 0 20px;
					font-size: 15px;
					line-height: 24px;
					color: #737373;
				}
				.site-footer hr {
					border-top-color: #bbb;
					opacity: 0.5
				}
				.site-footer hr.small {
					margin: 20px 0
				}
				.site-footer h6 {
					color: #fff;
					font-size: 16px;
					text-transform: uppercase;
					margin-top: 5px;
					letter-spacing: 2px
				}
				.site-footer a {
					color: #737373;
				}
				.site-footer a:hover {
					color: #3366cc;
					text-decoration: none;
				}
				.footer-links {
					padding-left: 0;
					list-style: none
				}
				.footer-links li {
					display: block
				}
				.footer-links a {
					color: #737373
				}
				.footer-links a:active,
				.footer-links a:focus,
				.footer-links a:hover {
					color: #3366cc;
					text-decoration: none;
				}
				.footer-links.inline li {
					display: inline-block
				}
				.site-footer .social-icons {
					text-align: right
				}
				.site-footer .social-icons a {
					width: 40px;
					height: 40px;
					line-height: 40px;
					margin-left: 6px;
					margin-right: 0;
					border-radius: 100%;
					background-color: #33353d
				}
				.copyright-text {
					margin: 0
				}
				@media(max-width:991px) {
					.site-footer [class^=col-] {
						margin-bottom: 30px
					}
				}
				@media(max-width:767px) {
					.site-footer {
						padding-bottom: 0
					}
					.site-footer .copyright-text,
					.site-footer .social-icons {
						text-align: center
					}
				}
				.social-icons {
					padding-left: 0;
					margin-bottom: 0;
					list-style: none
				}
				.social-icons li {
					display: inline-block;
					margin-bottom: 4px
				}
				.social-icons li.title {
					margin-right: 15px;
					text-transform: uppercase;
					color: #96a2b2;
					font-weight: 700;
					font-size: 13px
				}
				.social-icons a {
					background-color: #eceeef;
					color: #818a91;
					font-size: 16px;
					display: inline-block;
					line-height: 44px;
					width: 44px;
					height: 44px;
					text-align: center;
					margin-right: 8px;
					border-radius: 100%;
					-webkit-transition: all 0.2s linear;
					-o-transition: all 0.2s linear;
					transition: all 0.2s linear
				}
				.social-icons a:active,
				.social-icons a:focus,
				.social-icons a:hover {
					color: #fff;
					background-color: #29aafe
				}
				.social-icons.size-sm a {
					line-height: 34px;
					height: 34px;
					width: 34px;
					font-size: 14px
				}
				.social-icons a.facebook:hover {
					background-color: #3b5998
				}
				.social-icons a.twitter:hover {
					background-color: #00aced
				}
				.social-icons a.linkedin:hover {
					background-color: #007bb6
				}
				.social-icons a.dribbble:hover {
					background-color: #ea4c89
				}
				@media(max-width:767px) {
					.social-icons li.title {
						display: block;
						margin-right: 0;
						font-weight: 600
					}
				}
			</style>
			<style>
				a.card-linker:hover {
					text-decoration: none;
				}
				.card-title {
					color: black;
				}
				.card-text {
					color: black;
				}
				.lien {
					color: #007bb6;
				}
				.lien:hover {
					color: grey;
					text-decoration: none;
				}
			</style>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark cc_cursor">
			<a class="navbar-brand" href="{{ path('accueil')}}">Le temps qu'il fait</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link text-light" href="#">
							Parutions
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-light" href="{{ path('listeAuteurs')}}">
							Auteurs
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-light" href="{{ path('listeOeuvres')}}">
							Oeuvres
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-light" href="#">
							Livres de photographie
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-light" href="#">
							Bibliophilie
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-light" href="#">
							Les amis du temps qu'il fait
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-light" href="#">
							Commande
						</a>
					</li>
				</ul>
			</div>
		</nav>
		{% for message in app.flashes('notice') %}
				<div class="alert alert-success text-center" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% block body %}{% endblock %}
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
			<script src="https://kit.fontawesome.com/e7782ada11.js" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
	<!-- Site footer -->
	<footer class="site-footer">
		{% block footer %}
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<h6>À propos</h6>
						<p class="text-justify">
							<i>Lorem ipsum</i>
							dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						{% if is_granted('ROLE_ADMIN') %}
							<h6>Vous êtes connecté en tant que
								{{ app.user.email }}
								<small>
									<span class="badge badge-info">(Admin)</span>
								</small>
							</h6>
						{% elseif is_granted('ROLE_USER') %}
							<h6>Vous êtes connecté en tant que
								{{ app.user.email }}
								<small>
									<span class="badge badge-info">(Utilisateur)</span>
								</small>
							</h6>
						{% endif %}
					</div>
					<div class="col-xs-6 col-md-3">
						<h6>Liens rapides</h6>
						<ul class="footer-links">
							<li>
								<a href="#">À propos</a>
							</li>
							<li>
								<a href="#">Nous contacter</a>
							</li>
							<li>
								<a href="#">Autres fonds</a>
							</li>
							<li>
								<a href="#">Chronique</a>
							</li>
							<li>
								<a href="#">Mentions Légales</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-6 col-md-3">
						<h6>Autres</h6>
						<ul class="footer-links">
							{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
								<li>
									<a href="{{ path('app_login')}}">
										Se connecter
									</a>
								</li>
								{# <li>
									<a href="{{ path('inscrire')}}">Inscrire un utilisateur</a>
								</li> #}
							{% else %}

								{% if is_granted('ROLE_ADMIN') %}
									<li>
										<a class="text-info" href="#">
											Page administrateur
										</a>
									</li>
									<li>
										<a href="{{ path('inscrire')}}">
											Inscrire un nouvel utilisateur
										</a>
									</li>
								{% endif %}
								<li>
									<a class="text-info" href="{{ path('app_logout')}}">
										Se déconnecter
									</a>
								</li>
								<li>
									<a href="{{ path('listeGenres')}}">Liste des Genres</a>
								</li>
								<li>
									<a href="{{ path('ajoutGenre')}}">Ajouter un Genre</a>
								</li>
								<li>
									<a href="{{ path('ajoutAuteur')}}">Ajouter un Auteur</a>
								</li>
								<li>
									<a href="{{ path('ajoutOeuvre')}}">Ajouter une Oeuvre</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
				<hr>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<ul class="social-icons">
							<li>
								<a class="facebook" href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							{#<li>
								<a class="twitter" href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="dribbble" href="#">
									<i class="fa fa-dribbble"></i>
								</a>
							</li>
							<li>
								<a class="linkedin" href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>#}
						</ul>

						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
							<button class="btn btn-secondary my-2 my-sm-0" type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		{% endblock %}
	</footer>
</html>
